<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TeachersChoose</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  

  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  
  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
</head>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Campaign Information</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Poverty Level</p>
          <div class="input-group mb-3">
            <select class="custom-select" id="povertylevel">
              <option selected>Choose...</option>
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
              <option value="4">Highest</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect02">Options</label>
            </div>
          </div>
          <p>Grade level</p>
          <div class="input-group mb-3">
              <select class="custom-select" id="gradelevel">
                <option selected>Choose...</option>
                <option value="1">PreK-2</option>
                <option value="2">3-5</option>
                <option value="3">6-8</option>
                <option value="4">9-12</option>
              </select>
              <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02">Options</label>
              </div>
            </div>
            <p>Amount requested</p>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" class="form-control" id="totalcost" aria-label="Amount (to the nearest dollar)">
              <div class="input-group-append">
                <span class="input-group-text">.00</span>
              </div>
            </div>

            <p>Students reached</p>
            <div class="input-group">
                  <div class="input-group-text">
                  </div>
                <input type="text" class="form-control" id="numberstudents">
              </div>   
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitbutton">Submit</button>
      </div>
  </div>
</div>
</div>



<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar=brand" href="/">TeachersChoose</a>
        </div> 
        <button class = "navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class = "navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "navbarCollapse">
          <ul class = "navbar-nav ml-auto">
            
            <li class = "navbar-item">
              <a href="https://www.donorschoose.org/" class = "nav-link">DonorsChoose</a>
            </li>
            <li class = "navbar-item">
              <a href = "process" class="nav-link">Process</a>
            </li>
            <li class = "navbar-item">
              <a href = "team" class="nav-link">Team</a>
            </li>
           
          </ul>
        </div>
    
      </div>
      
  </nav>

  <!-- Masthead -->
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="mb-5">Making your campaign successful!</h1>
        <h3 class = "mb-5">Want to submit a campaign through DonorsChoose but want to ensure your campaign's success? Through predictive analytics and knowing a few of your features, we can offer you a prediction on the success of your campaign.</h3>
        <button type="button" class="btn btn-primary btn-xl rounded-pill" data-toggle="modal" data-target="#myModal">Get started</button>
      </div>
    </div>
  </header>


  <section class=""
  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Technology</h3>
            <p class="lead mb-0">Projects requesting technology are the least funded compared to all other resource types</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Books</h3>
            <p class="lead mb-0">Projects requesting books are more likely to get funded</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Music</h3>
            <p class="lead mb-0">
                Projects revolving around the subject of music are the most likely to get funded out of all subjects.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/bg-showcase-1.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Data-informed decision-making</h2>
          <p class="lead mb-0">We want your campaigns to be as successful as possible and we believe that historic data can be used to inform how you develop your campaign.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/img/bg-showcase-2.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>People-centered</h2>
          <p class="lead mb-0">We believe in the ability of data to have strong social impacts but ultimately want this to be about you and for you as for someone who -- as an educator -- has one of the most critical roles in our society.</p>
        </div>
      </div>
    
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Meet the team!</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/testimonials-4.jpg" alt="">
            <h5>Caitlin</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/testimonials-2.jpg" alt="">
            <h5>Anna</h5>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="static/img/testimonials-1.jpg" alt="">
              <h5>Lydia</h5>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="static/img/testimonials-5.jpg" alt="">
              <h5>Xiangzi</h5>
            </div>
          </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/testimonials-3.jpg" alt="">
            <h5>Nicole</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Submit your ideas for a campaign now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col text-center">
                  <button type="button" class="btn btn-primary btn-xl rounded-pill" data-toggle="modal" data-target="#myModal">Get started</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



  <!-- Bootstrap core JavaScript -->
  <!--<script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="static/js/donorschoose.js"></script>

</body>

</html>
