<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TeachersChoose</title>

  <!-- Bootstrap core CSS -->
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
  
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  
  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
</head>

<body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar=brand" href="/">TeachersChoose</a>
              </div> 
              <button class = "navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class = "navbar-toggler-icon"></span>
              </button>
              <div class = "collapse navbar-collapse" id = "navbarCollapse">
                <ul class = "navbar-nav ml-auto">
                  
                  <li class = "navbar-item">
                    <a href="https://www.donorschoose.org/" class = "nav-link">DonorsChoose</a>
                  </li>
                 <!-- <li class = "navbar-item">
                      <a href="essayanalysis.html" class = "nav-link">Essay Analysis</a>
                    </li>-->
                  <li class = "navbar-item">
                    <a href = "process" class="nav-link">Process</a>
                  </li>
                  <li class = "navbar-item">
                    <a href = "team" class="nav-link">Team</a>
                  </li>
                 
                </ul>
              </div>
          
            </div>
            
        </nav>

        <!-- Page Content -->
  <div class="container">

        <!-- Heading Row -->
        <div class="row align-items-center my-5">
          <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="static/img/sadkids.jpg" alt="">
          </div>
          <!-- /.col-lg-8 -->
          <div class="col-lg-5">
            <h1 class="font-weight-light">Your campaign is likely to fail :(</h1>
            <p>According to our model and the parameters you submitted, your campaign is not likely to succeed. We recommend trying to alter the parameters you submitted.</p>
            <a class="btn btn-primary" href= "/">Try new parameters</a>
          </div>
          <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    
        <!-- Call to Action Well -->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
          <div class="card-body">
            <p class="text-white m-0">While we are confident in our model, this does not serve as a guarantee that your campaign will not succeed.</p>
          </div>
        </div>
    
<!-- Content Row -->
        <div class="row">
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                  <div class="card-body">
                      <h2 class="card-title">Total Cost</h2>
                      <p class="card-text">Most projects are under $1000.  High school projects often cost more but even with this difference, there is no significant decrease in the likelihood to be funded across grade levels.</p>
                    </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                  <div class="card-body">
                      <h2 class="card-title">Project Type</h2>
                      <p class="card-text">Technology-based projects are often require more funding so their likelihood of success is less, however it is still around 65%. Trips have the highest likelihood of success at 90%.</p>
                    </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 mb-5">
              <div class="card h-100">
                  <div class="card-body">
                      <h2 class="card-title">Poverty Level</h2>
                      <p class="card-text">Projects from highest poverty schools have a higher likelihood of being fully funded.</p>
                    </div>
                <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-sm">More Info</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-4 -->
      
          </div>
          <!-- /.row -->
      
        </div>
        <!-- /.container -->
    
      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
        <!-- /.container -->
      </footer>
    
      <!-- Bootstrap core JavaScript -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <script src="static/js/donorschoose.js"></script>
    
    </body>
    
    </html>
    