<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TeachersChoose - Team</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  

  <!-- Custom fonts for this template -->
  <link href="static/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar=brand" href="/">TeachersChoose</a>
              </div> 
              <button class = "navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class = "navbar-toggler-icon"></span>
              </button>
              <div class = "collapse navbar-collapse" id = "navbarCollapse">
                <ul class = "navbar-nav ml-auto">
                  
                  <li class = "navbar-item">
                    <a href="https://www.donorschoose.org/" class = "nav-link">DonorsChoose</a>
                  </li>
                  <li class = "navbar-item">
                    <a href = "process" class="nav-link">Process</a>
                  </li>
                  <li class = "navbar-item">
                    <a href = "team" class="nav-link">Team</a>
                  </li>
                 
                </ul>
              </div>
          
            </div>
            
        </nav>


<!-- Image Showcases -->
<section class="testimonials text-center bg-light">
        <div class="container">
          <h2 class="my-auto">Our Team</h2>
        </div>
    </section>
<section class="showcase">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
    
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/testimonials-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2>Nicole
                    <a href="https://www.linkedin.com/in/nicole-arendt-bb3416142/" target="_blank"  class="btn btn-li" >
                        <span style="font-size: 24px; color: #0077B5;"><i class="fab fa-linkedin-square pr-1" ></i></span>
                    </a>
              </h2>
              <p> </p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite coding language: </p>
                    <p class = "lead mb-0">Javascript</p>
                    <p></p>
                    <p class="lead mb-0 font-weight-bold">Favorite thing to do when not staring at a computer screen: </p>
                    <p class = "lead mb-0">Play video games on a TV screen</p></div>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/img/testimonials-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2>Anna</h2>
              <p> </p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite coding languages: </p>
                    <p class = "lead mb-0">Python</p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite data analytic question to explore: </p>
                    <p class = "lead mb-0">Helping people find their soul mates using predictive analytics</p>
                    <p></p>
                    <p class="lead mb-0 font-weight-bold">Favorite thing to do when not staring at a computer screen: </p>
                    <p class = "lead mb-0">Reading, yoga, and eating</p>
               </div>
          </div>
          <div class="row no-gutters">
    
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/testimonials-4.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                  <h2>Caitlin
                        <a href="https://www.linkedin.com/in/caitlin-helmer-830771182/" target="_blank"  class="btn btn-li" >
                            <span style="font-size: 24px; color: #0077B5;"><i class="fab fa-linkedin-square pr-1" ></i></span>
                        </a>
                  </h2>
                  <p> </p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite coding language: </p>
                    <p class = "lead mb-0">Python</p>
                    <p class="lead mb-0 font-weight-bold">Favorite data analytic question to explore: </p>
                    <p class = "lead mb-0">Trying to explain human behavior with data. Why do people do the things they do?</p>
                    <p></p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite thing to do when not staring at a computer screen: </p>
                    <p class = "lead mb-0">Skiing, writing, and miscellaneous crafts</p>
                </div>
              </div>
            <div class="row no-gutters">

                <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/img/testimonials-5.jpg');"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>Faith
                            <a href="https://www.linkedin.com/in/xiangzi-han-835b6656/" target="_blank"  class="btn btn-li" >
                                <span style="font-size: 24px; color: #0077B5;"><i class="fab fa-linkedin-square pr-1" ></i></span>
                            </a>
                    </h2>
                    <p> </p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite coding language: </p>
                    <p class = "lead mb-0">Python</p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite data analytic question to explore: </p>
                    <p class = "lead mb-0">Answering research questions developed through clinical trials</p>
                    <p></p>
                    <p class="lead mb-0 font-weight-bold">Favorite thing to do when not staring at a computer screen: </p>
                    <p class = "lead mb-0">Going for walks</p>
                </div>
                </div>
            <div class="row no-gutters">

                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/testimonials-1.jpg');"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>Lydia
                        <a href="https://www.linkedin.com/in/lydiastump/" target="_blank"  class="btn btn-li" >
                            <span style="font-size: 24px; color: #0077B5;"><i class="fab fa-linkedin-square pr-1" ></i></span>
                        </a>
                        </h2>
                    <p> </p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite coding languages: </p>
                    <p class = "lead mb-0">Python and Javascript</p>
                    <p> </p>
                    <p class="lead mb-0 font-weight-bold">Favorite data analytic question to explore: </p>
                    <p class = "lead mb-0">How we can use big data to close inequity gaps?</p>
                    <p></p>
                    <p class="lead mb-0 font-weight-bold">Favorite thing to do when not staring at a computer screen: </p>
                    <p class = "lead mb-0">Hike and soak in the the sunlight!</p>
                </div>
                </div>
        </div>
      </section>

</body>
</html>